.haiku {
    font-family: 'Georgia', serif;
    font-style: italic;
    max-width: 300px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: rgba(237, 100, 166, 0.1);
    border-radius: 0.5rem;
    text-align: left;
}

.haiku p {
    margin: 0.5rem 0;
}

.haiku .author {
    text-align: right;
    font-size: 0.9em;
    color: #666;
}
.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}

.card h3 {
    color: #333333; /* This is a deep gray color */
    font-size: 1.4rem;
    margin-bottom: 0.75rem;
}

.card .date {
    font-style: italic;
    color: #718096;
    margin-bottom: 1rem;
}

.card-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 1rem 0;
}

.audio-content {
    margin-top: 1rem;
}

#playPauseBtn {
    background-color: #ed64a6;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#playPauseBtn:hover {
    background-color: #d53f8c;
}
.shlok-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.shlok {
  background-color: rgba(237, 100, 166, 0.1);
  border-radius: 8px;
  padding: 1.5rem;
}

.shlok h4 {
  color: #ed64a6;
  margin-bottom: 0.5rem;
}

.shlok .sanskrit {
  font-style: italic;
  margin-bottom: 0.5rem;
}

.shlok .meaning {
  font-size: 0.9em;
  color: #4a5568;
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 2rem; /* Add some top padding to compensate for the removed title */
}
.about-content .card h1 {
    text-align: center;
    margin-bottom: 1rem;
}
